<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= foundProductById.name  %> </title>
    </head>
    <body>
        <h1><%= foundProductById.name  %></h1>
        <ul>
            <li>Price: <%= foundProductById.price %> </li>
            <li>Category: <%= foundProductById.category %> </li>
        </ul>
    <a href="/products">Back To All Products</a>
    <a href="/products/<%= foundProductById._id %>/update ">Update Products</a>
    </body>
</html>